body{
    background-color: rgb(40, 255, 225);
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#favorite-container {
  margin-top: 20px;
}

#selfie, .images{
    width: 50%;
    height: 50%;
}

#button1 , #button2 {
    padding: 2px 12px;
    display: inline-block;
    justify-content: center;
}