:root {
  --default-color: #00ffff;
}

body{
    background-color: var(--default-color);
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#favorite-container {
  margin-top: 20px;
}

#selfie, .images{
    width: 50%;
    height: 50%;
}

#github-button , #linkedin-button {
    padding: 2px 12px;
}

#socials-container{
    display: flex;
    justify-content: center;
    align-items: center;
}